/* Global font */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

table {
    text-align: left;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
  margin: 0;
}

th {
  cursor: pointer;
}

td {
  padding: 0;
}