/* Global font */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

a {
    text-decoration: none;
    color: inherit;
}